players/*
worlds/*
plugins/*
bin/*
timings/*
*.log
*.phar
server.properties
pocketmine.yml
*.txt
genisys.yml
crashdumps/*
resource_packs/*
*.db
*.sqlite3
trinity.yml

# Common IDEs
.idea/
nbproject/*

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

# Mac crap
.DS_Store
/nbproject/private/

# Sphinx-doc
/docs/build/
!/docs/requirements.txt
.project

# Php Test
bin-7.0/*
bin-7.3/*
bin-8.0/*
bin-8.1/*
bin-8.2/*

# Composer
vendor/*

# Zipped file
*.zip
*.tar
*.gz
*.rar
*.xz

# Test
run.sh